/*Rest style*/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Variables*/
:root{
    --color-a:#9c68d7;
}

/*Content*/
.body{
    background-color: var(--color-a);
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



